@page "/todo"
@using WebApplication1.Shared

<h1>Todo</h1>
<h2>Todo @todos.Count()</h2>

<input type="text" @bind="title" />
<button id="bt1" @onclick="InsertarFuncion" >Insertar</button>

<ul>
    @foreach (var item in todos)
    {
        <li>
            <input @bind="@item.Title" />
        </li>
    }

</ul>


@code{
    private string title;
    private IList<TodoItem> todos = new List<TodoItem>();

    private void InsertarFuncion()
    {
        if (!string.IsNullOrEmpty(title))
        {
            var valortexto = title;
            todos.Add(new TodoItem { IsDone = true, Title = title });
        }
        else {
            
        }
    }
}